architecture_review_notes.md
Enactor_Estate_AI_Project_Plan.docx
implementation_plan_after _review_questions.md
implementation_plan_eai_web_nextjs.md
temp_text.md
test_terminal101.xml
Configuring PDC to Connect with MPOC App and ICC Reader Setup-v1-20260624_074514.pdf
PDC Setup and configuration-v9-20260624_080335.pdf
20260528_All_Files_20260528102022 3/
IccReaderConfiguration_20260625070313045.xml
IccReaderType_20260625070313022.xml
enactor-debug.log